body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10%; 
}

.colorBox, input[type="text"], button {
  width: 80vw; 
  height: 40px; 
  box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.colorBox {
  height: 30vh; 
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-field {
  margin-top: 20px;
}

button {
  cursor: pointer;
  background-color: #e7e7e7;
  outline: none;
}
